body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0e0d2;
    color: #333;
}

.encabezado {
    text-align: center;
    margin-top: 1px;
}
.header3 {
    background-color: #5f33b1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

#menuButton3 {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2; /* El botón del menú está encima de los divs laterales */
    color: #6c757d;
}

.dropdown-content3 {
    position: absolute;
    top: 50px;
    left: 10px;
    display: none;
    background-color: #f8f9fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2; /* El contenido del menú desplegable está encima de los divs laterales */
}
.dropdown-content3 a {
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
    color: #000;
    text-decoration: none;
    padding: 10px;
}
.dropdown-content3 a:hover {
    background: #f8f8f8;
    color: #333;
}
@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

.dropdown-content3 {
    animation: slideDown 0.3s ease;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 40px;
}

.informacion, .Ventajas, .Desventajas, .conclusion, .recursos {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacion ul, .Ventajas ul, .Desventajas ul, .conclusion ul, .recursos ul {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.header2 {
    background-color: #5f33b1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0e0d2;
    color: #333;
}
main {
    margin-top: 60px; 
}

.div3D {
    perspective: 800px;
    transform-style: preserve-3d;
    transition: transform 0.2s;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #9e47e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}
footer {
    background-color: #5f33b1;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
.divContainer {
    display: flex;
    justify-content: space-between;
}

/* Estilos para pantallas de tamaño normal */
.divContainer {
    display: flex;
    justify-content: space-between;
}

/* Estilos para pantallas de tabletas */
@media (max-width: 768px) {
    .divContainer {
        flex-direction: column;
    }

    .div3D {
        margin-bottom: 20px;
    }
}

/* Estilos para pantallas de teléfonos móviles */
@media (max-width: 480px) {
    .divContainer {
        flex-direction: column;
    }

    .div3D {
        margin-bottom: 20px;
    }
}
.footer {
    background-color: #5f33b1;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
